

/*------ Across pages ------*/

@font-face {
	font-family: segoe;
	src: url(../fonts/SegoeWP-Light.eot),
	     url(../fonts/SegoeWP-Light.ttf),
	     url(../fonts/SegoeWP-Light.svg);
}

body, h1, h2, h3, h4, h5, p, li, ul, ol, a, div, label {
	padding: 0;
	margin: 0;
	font-family: segoe, Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

body {
	background-image: url('../images/creampaper.png');
}


.links {
	color: #A11222;
	text-decoration: none;
}

.links:hover {
	text-decoration: underline;
}

.links a {
	text-decoration: none;
	color: #2FBC42;
}

.error {
	color: #A11222;
	font-size: 0.8em;
}

/*------ Header ------*/

#header {
	background-color: white;
	padding: 10px;
	padding-bottom: 0;
	height: 100px;
	border-bottom: 1px solid #A11222;
}

#headerImg {
	float: left;
	clear: both;
	width: 170px;
	height: 80px;
	background-image: url('../images/volition-logo.png');
	background-repeat: no-repeat;
	background-size: 150px 80px;
	background-position: center;
	margin: 10px;
	margin-bottom: 0;
}

#headerImg a {
	width: 170px;
	height: 100px;
	display: block;
}

#searchForm {
	margin: 0;
	padding: 0;
	float: right;
	clear: right;
}

#searchSubmit {
	font-size: .7em;
	width: 30px;
}

#navbar ul {
	padding: 0;
	display: inline-block;
	margin-top: 75px;
	margin-left: 50px;
}

#navbar li {
	list-style: none;
	float: left;
	width: 100px;
	height: 30px;
	font-weight: lighter;
}

#navbar a {
	height: 23px;
	color: #3CC04F;
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

#navbar a:hover {
	border-bottom: 3px solid #A11222;
}

.active {
	border-bottom: 3px solid #2FBC42;
}

.controlButton a {
	float: right;
	border: none;
	text-decoration: none;
	font-size: 1em;
	color: white;
	width: 100px;
	padding: 7px;
	background-image: url('../images/sidebar_button.png');
	border-radius: 7px 0px;
	text-align: center;
	margin-left: 10px;
}

.controlButton a:hover {
	background-image: none;
	background-color: #9c1718;
}

.userControl {
	float: right;
	color: #A11222;
	font-size: 0.7em;
}


/*------ Content ------*/

#content {
	margin: 20px;
	display: inline-block;
	background-color: white;
	padding: 20px;
	border-radius: 7px 0px;
}

#callout {
	display: block;
	margin: 0 auto;
	width: 705px;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
	padding: 10px;
}

.buttons ul {
	list-style: none;
}

.buttons li, #register h2 a {
	border: none;
	font-size: 2em;
	width: 200px;
	padding: 7px;
	background-image: url('../images/sidebar_button.png');
	border-radius: 7px 0px;
	margin: 20px 55px;
	text-align: center;
	display: inline-block;
	float: left;
}

.buttons li:hover, #register h2 a:hover {
	background-image: none;
	background-color: #9c1718;
}

.buttons a {
	text-decoration: none;
	color: white;
}

/* Profile Page $ User Profile*/

#user-profile, #profile {
	margin: auto;
}

#user-profile h3, #profile h3 {
	padding: 5px;
	border-bottom: 1px solid #A11222;
	margin-bottom: 10px;
}

#user-profile ul, #profile ul {
	list-style: none;
}

#user-profile li, #profile li {
	padding: 10px;
	text-align: left;
}

#user-profile strong, #profile strong {
	display: block;
	margin-left: 10px;
	margin-bottom: 3px;
	text-align: left;
	color: #A11222;
}

#user-profile a, #profile a {
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: right;
	color: #2FBC42;
	font-size: 0.7em;
}

.editPage {
	width: 360px;
	margin: 5px;
	float: left;
	display: block;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
}

/*------Admin */

#adminUsers {
	display: block;
	clear: left;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
	margin: 3px;
}

table, table td {
	border: none;
}

table td {
	padding: 5px;
	padding-right: 40px;
}

#displayPic, #userInfo, #userWork, #portfolio {
	display: block;
	width: 332px;
	float: left;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
	margin: 3px;
}

#displayPic img {
	margin: 20px auto;
	display: block;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
}

#portfolio {
	width: auto;
}

#portfolio .item {
	width: 300px;
}

#interests {
	margin: 5px auto;
	display: inline-block;
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
	min-width: 1000px;
}

#interests .large-item {
	width: 500px;
}

#interestsSubmit {
	display: block;
	clear: both;
}

#deletePortfolio, #profilePortfolio {
	border: 5px solid white;
	box-shadow: 0px 0px 2px #222;
}

#deletePortfolio img, #profilePortfolio img {
	padding: 5px;
}

#profilePortfolio img {
	display: inline-block;
	float: left;
	margin: 7px 0px;
}

#deletePortfolio h2, #profilePortfolio h2 {
	color: #AD2829;
	padding: 15px;
}

#deletePortfolio p {
	padding: 10px;
}

#deletePortfolioForm {
	clear: both;
}

#deletePortfolioForm input {
	display: inline-block;
	float: right;
}

#removeAccount, #leaveAccount, #removeImage, #leaveImage {
	float: right;
	border: none;
	text-decoration: none;
	font-size: 1em;
	color: white;
	width: 100px;
	padding: 7px;
	background-image: url('../images/sidebar_button.png');
	border-radius: 7px 0px;
	text-align: center;
	margin: 10px;
}

#deleteAcc {
	clear: left;
}

/* Profile */

.item a, .large-item a {
	color: #2FBC42;
	float: right;
}

#profilePortfolio {
	float: left;
	margin: 3px;
}

#profilePortfolio li a {
	clear: both;
}


/* Register & Login */

#register {
	min-width: 960px;
}

#seekRegisterSubmit, #lanceRegisterSubmit, #loginSubmit, #submit, #addImage, #editSubmit, #seekEditSubmit, #changeSubmit, .deleteSubmit, #addImageSubmit, #deletePortfolioForm input, #lanceEditSubmit, #interestsSubmit, #userEditSubmit, .submit  {
	border: none;
	text-decoration: none;
	font-size: 2em;
	color: white;
	width: 200px;
	padding: 3px;
	background-image: url('../images/sidebar_button.png');
	border-radius: 7px 0px;
	margin: 20px;
	text-align: center;
}

#seekRegisterSubmit:hover, #lanceRegisterSubmit:hover, #loginSubmit:hover, #submit:hover, #addImage:hover, #editSubmit:hover, #seekEditSubmit:hover, #lanceEditSubmit:hover, #changeSubmit:hover, .deleteSubmit:hover, #addImageSubmit:hover, #deletePortfolioForm input:hover, #userEditSubmit:hover {
	background-image: none;
	background-color: #9c1718;
}


 .form-description {
 	font-size: 0.8em;
 	color: #AD2829;
 }

 .form-description a {
 	color: #2FBC42;
 	text-decoration: none;
 }
 
.incogSubmit, #deleteUser {
	border: none;
	font-size: 0.7em;
	margin: 0px;
	padding: 0px;
	width: auto;
	color: #2FBC42;
	border-radius: 0px;
	background: none;
	text-decoration: none;
	float: right;
 }

 #register label, #login label, #feedback label, #addImageForm label, #edit label, #changePassword label, #addImageForm label {
 	display: block;
 	padding: 5px;
 	padding-bottom: 3px;
 }

 #register input, #register select, #register textarea, #login input, #feedback input, #feedback textarea, #addImageForm input, #edit input, #edit textarea, #changePassword input {
 	margin: 5px;
 	margin-top: 0px;
 	width: 300px;
 }
 
#addImageForm input {
	margin-top: 10px;
}

#seekRegisterSubmit:hover, #lanceRegisterSubmit:hover, #loginSubmit:hover, #submit:hover, #addImage:hover, #editSubmit:hover, #seekEditSubmit:hover, #lanceEditSubmit:hover, #changeSubmit:hover, .deleteSubmit:hover, #addImageSubmit:hover, #deletePortfolioForm input:hover, #userEditSubmit:hover {
	cursor: pointer;
}

 #login {
 	margin: 10px auto;
 }

 #feedback {
 	width: 600px;
 }

 /* Browse, About, & Contact Pages */

 #columns, #poi-columns {
    -moz-column-width: 330px;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    -moz-column-count: 6;
    -webkit-column-width: 340px;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -webkit-column-count: 5;
    column-gap: 0px;
    column-width: 340px;
    column-fill: auto;
    column-count: 5;
}

.item, .large-item { 
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid; 
	column-break-inside: avoid;
	display: inline-block; 
	margin: 0 2px 15px; 
	padding: 5px; 
	border: 2px solid #FAFAFA; 
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; 
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); 
}


.item {
	width: 300px;
}

.large-item {
	width: 500px;
}


 .item p, .item h3, .item h4 {
	width: 300px;
 	padding: 5px;
 	font-size: 0.7em;
 	color: #2FBC42;
 }
 
 .large-item p, .large-item h3, .large-item h4 {
	width: 500px;
 	padding: 5px;
 	font-size: 0.7em;
 	color: #2FBC42;
 }
 
 .item h4, .large-item h4 {
	font-size: 1em;
	color: #AD2829;
	float: right;
 }

 .item p, .large-item p {
	clear: both;
 	color: black;
 	padding: 0px;
 }

 .item a, .large-item a {
 	text-decoration: none;
 }

.userSite {
	color: #2FBC42;
	font-size: 1em;
}

#poi-columns {
    -moz-column-width: 500px;
    -moz-column-count: 10;
    -webkit-column-width: 500px;
    -webkit-column-count: 3;
    column-width: 500px;
    column-count: 3;
    margin-bottom: 30px;
	border-bottom: 1px solid #A11222;
}

#about-content .item {
	display: block;
	min-height: 100px;
	width: 600px;
}

#contact, #feedback {
	display: inline-block; 
	margin: 0 2px 15px; 
	padding: 5px; 
	border: 2px solid #FAFAFA; 
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; 
	float: right;
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); 
}

#feedback {
	float: left;
}

/*------ Footer ------*/

#footer {
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 40px;
	width: 960px;
	clear: both;
}

#footer ul {
	list-style: none;
	height: 40px;
}

#footer li {
	display: inline-block;
	border-right: 1px solid #777;
}


#footer a {
	padding: 1em;
	text-decoration: none;
	font-size: 0.6em;
	height: 40px;
	width: 100px;
	color: black;
}

#footer li:last-child {
	border-right: 0;
}

#footer li:first-child {
	border-right: 0;
	width: 120px;
	font-size: 0.6em;
}

